<!-- DESIGNER: Claudinei Pereira de Sousa (100647340)
   EXERCISE: Assignment 02
   TASK: Doonut Website - ASP.NET MVC Project */ -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dooonuts Website</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light sticky-top" style="background-color: #eae586; color: #A3701A;">
        <div class="container">
            @Html.ActionLink("Dooonuts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    
                    
                </ul>
                @if (Session["username"] != null)
                {
                    <form class="d-flex">
                        <div class="col px-5">Welcome, @Session["username"].ToString()</div>
                    </form>

                    <form class="d-flex px-1">
                        <div class="col">@Html.ActionLink("Edit Details", "Index", "Customer", new { area = "" }, new { @class = "nav-link" })</div>
                    </form> 
                    <form class="d-flex px-1">
                        <div class="col">@Html.ActionLink("Logout", "Logout", "UserLogin", new { area = "" }, new { @class = "btn btn-outline-primary" })</div>
                    </form>
                  }
                    else
                    
                    { 
                    <form class="d-flex">
                        <div class="col">@Html.ActionLink("Sign Up", "Create", "Customer", new { area = "" }, new { @class = "btn" })</div>
                    </form>
                    <form class="d-flex">
                        <div class="col">@Html.ActionLink("Login", "index", "UserLogin", new { area = "" }, new { @class = "btn btn-primary" })</div>
                    </form>
                     }
                


            </div>

        </div>

    </nav>
    <div class="container" style="padding: 0;">

        <div class="row align-items-start">
            <div class="col">

            </div>
            <div class="col">
                <img id="logo" src="~/img/Logo-Version_3.png" class="img-fluid" max-width: 25% alt="Dooonuts">
            </div>
            <div class="col">

            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer class="container-fluid" id="footer" style="background-color: #EAE586; color: #A3701A;">
            <div class="row">
                <!-- 1st Column: Brand Logo -->
                <div class="col-md-3 equal-columns">
                    <img id="footer-logo" src="~/img/Logo-Version_3.png" alt="DoooNUTs" style="max-width: 200px; height: auto;">
                </div>
                <!-- 2nd Column: Contact Us -->
                <div class="col-md-3 equal-columns text-start">
                    <h4>Our Local Store</h4>
                    <address>
                        <strong>DoooNUTs Main Office</strong><br>
                        1 Batesford Street<br>
                        Holmesglen, Victoria 3100<br>
                        <abbr title="Phone">Phone:</abbr> (+61) 010-010-000<br>
                        <abbr title="Email">Email:</abbr> <a href="mailto:info@dooonuts.com" style="color: #A3701A;">info@dooonuts.com</a>
                    </address>
                </div>

                <!-- 3rd Column: Contact Us -->
                <div class="col-md-3 equal-columns text-start">
                    <h4>Contact Us</h4>
                    <div style="color: #A3701A; display: flex; flex-direction: column;">
                        <a href="https://www.facebook.com/" target="_blank" style="color: #A3701A;">
                            <img src="~/img/facebook.svg" alt="Facebook Icon" style="width: 24px; height: 24px; margin-right: 5px;"> Facebook
                        </a>
                        <a href="https://twitter.com/" target="_blank" style="color: #A3701A;">
                            <img src="~/img/twitter.svg" alt="Twitter Icon" style="width: 24px; height: 24px; margin-right: 5px;"> Twitter
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" style="color: #A3701A;">
                            <img src="~/img/instagram.svg" alt="Instagram Icon" style="width: 24px; height: 24px; margin-right: 5px;"> Instagram
                        </a>
                    </div>
                </div>

                <!-- 4th Column: In-Store Products -->
                <div class="col-md-3 equal-columns text-start">
                    <h4>In Store Products</h4>
                    <ul style="list-style-type: none; padding-left: 0;">
                        <li><a href="Menu.html" style="color: #A3701A;">Menu</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <hr style="border-color: #A3701A;">
                    <p>&copy; @DateTime.Now.Year - Dooonuts</p>
                </div>
            </div>
		</footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
